// для переменных
// color
$white:#FFFFFF;
$black:#2D3033;
$gray:#6C7279;
$red:#FF4343;

// background 
$background-banner:#252B49;
$background-button:#FF4343;
$background-slide:#5C3249;
$background-footer:#353C65;
$background-footer-copyright:#2C3154;

// border

$border-header:1px solid #BABBC5;
$border-icon: 1px solid #C6CBCD;
