@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.contact {
    padding: 71.14px 0 71px 0;
    background-color: #353C65;
}

.contact-wrapper {}

.contact-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cards {
    display: flex;
    flex-wrap: wrap;
}

.cards-description {
    width: 370px;
    text-align: center;
    // padding-bottom: 67.14px
}

.cards-description__title {
    @include h5;
    color: $white;
    font-weight: 700;
    padding-bottom: 29px
}

.cards-description__item {
    @include p;
    color: $white;
}

.contact__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 40px;
}

.contact__icon {
    width: 39px;
    height: 39px;
    border: 1px solid rgba(198, 203, 205, 1);
    margin: 0 27px;
}

.fa-brands {
    transition: 0.3s;
}

.fa-brands:hover {
    transform: scale(1.4);

    color: $red;
}

.fa-facebook-f {
    color: rgba(198, 203, 205, 1);
    padding: 10px 14.33px 11px 12.33px;
}

.fa-twitter {
    color: rgba(198, 203, 205, 1);
    padding: 11px 10.35px 12.04px 9px;
}

.fa-linkedin {
    color: rgba(198, 203, 205, 1);
    padding: 10px 11px 11px 10px;
}

@media(max-width:320px) {
    .contact {
        padding: 34.14px 20px 31.14px 20px;
    }

    .container {
        width: 280px;
    }

    .contact-wrapper {
        padding: 0 -15px;
    }

    .contact-cards {}

    .cards-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 280px;
    }

    .cards-description__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 34px;
    }

    .cards-description__item {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 60px;
    }

    .contact__icons {
        margin: 0 -15px;
        width: 280px;
        align-items: center;
        justify-content:space-around ;
         padding: 0 8px;
    }

    .contact__icon {
        align-items: center;
        width: 33px;
        height: 33px;
        
    }

    .fa-brands {}

    .fa-facebook-f {}

    .fa-twitter {}

    .fa-linkedin {}
}