@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.download {
    padding: 114px 0;
}

.download-wrapper {
}
.download__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.download__title {
    padding: 20px;
    @include h3;
    padding-bottom: 5.29px
}
.download__subtitle {
    @include h5;
    font-weight: 700px;
    padding: 1.5px;
    padding-bottom: 50.14px;
}
.download__button {
    text-align: center;
    text-transform: uppercase;
    padding: 26;
    color: $white;
    @include h4;
    width: 369px;
    height: 80px;
    cursor: pointer;
    background-color: $background-button;
}
.download__button:hover {
    background-color: #E71414;
}
.download__button:active{
    background-color: $red;
    box-shadow: 4px 4px 30px 0px #FF4343;
}
.download__btn{
    color: $white;
}

@media(max-width:1024px){
    .download {
        padding: 77.51px 20px 78px 20px;
    }
    
    .download-wrapper {
    }
    .download__content {
        padding: 0;
    }
    .download__title {
        padding: 16px 0;
        font-family: 'Raleway';
font-weight: 500;
font-size: 24px;
line-height: 28px;
align-items: center;
text-align: center;
    }
    .download__subtitle {
        font-family: 'Raleway';
font-weight: 700;
font-size: 14px;
line-height: 16px;
align-items: center;
text-align: center;
text-transform: uppercase;
padding-bottom:43.29px ;
color: $black;
    }
    .download__button {
        height: 77.57px;
width: 313.15px;
font-family: 'Raleway';
font-weight: 900;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
    }
    .download__btn {
    }
}

@media (max-width:320px){
    .download {
        padding: 34.51px 20px 45px 20px;
    }
//    .container{
//     width: 280px;
//    }
    .download-wrapper {

    }
    .download__content {
        // width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .download__title {
        font-family: 'Raleway';
font-size: 18px;
font-weight: 500;
line-height: 21px;
text-align: center;
padding-bottom: 3px;

    }
    .download__subtitle {
        font-family: 'Raleway';
font-size: 13px;
font-weight: 700;
line-height: 15px;
text-align: center;
text-transform: uppercase;
padding-bottom: 13.42px;

    }
    .download__button {
    width:278.25px;
font-family: 'Raleway';
font-size: 18px;
font-weight: 900;
line-height: 21px;
text-align: center;

    }
    
}
