@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.footer{
    background-color: #2C3154;
    padding: 23.86px 570px 24.14px 570;
}
.footer-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}
.footer__text {
    width: 370px;
    @include p;
    color: $gray;
}
.footer-span {
    @include p;
    color: $white;
}