@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.header {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;



}



.header-wrapper {


    border-bottom: 1px solid $gray;
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    width: 270px;
    display: flex;
}

.logo-1 {
    padding-right: 3px;
}

.nav__menu {
    width: 670px;
    display: flex;
    justify-content: space-between;

}

.header__burger {
    display: none;
}

.menu__link {
    text-align: center;
    width: 134px;
    @include h6;
    position: relative;
    // z-index: 2;

    &:hover {
        &::after {
            position: absolute;
            content: '';
            display: 'block';
            top: 55px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $gray;
        }
    }

    &:active {

        &::after {
            position: absolute;
            content: '';
            display: 'block';
            top: 55px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #E71414;



        }
    }
}

.nav__link {
    text-transform: uppercase;
    color: $white;
}

.nav__link:active {
    color: #E71414;

}

.header__burger {
    display: none;
}

@media (max-width:1024px) {
    .header {
        padding: 0 20px;
    }


    .header-wrapper {
        width: 984px;
        align-items: center;
    }

    .header__logo {}

    .header__nav {}

    .nav {}

    .nav__menu {
        width: 566px;
        display: flex;
        justify-content: space-between;
    }

    .menu__link {
        width: 112px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    .nav__link {}
}

@media(max-width:320px) {
    .header {
        padding: 0 20px;

    }

    .header-wrapper {
        padding: 0;
        width: 280px;
        border: none;
    }

    .header__logo {
        max-width: 130px;
        position: relative;
        z-index: 5;
    }

    .logo-1 {
        padding: 21.59px 1.69px 20.54px 0;
        max-width: 67px;
    }

    .logo-2 {
        padding: 21.59px 0 20.54px 0;
        max-width: 34px;
    }

    .header__nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 0.8);
        transition: 0.5s;
    }

    .header__nav:active {
        top: 0;
    }


    .nav__menu {
        padding-top: 80.5;
        display: block;

    }

    .menu__link {
        width: 280px;
        padding: 25px;
        text-align: left;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;

        align-items: center;
        text-transform: uppercase;

    }


    .header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 19px;
        position: relative;
        z-index: 5;
        background-color: transparent;
        border: none;
    }
        .header__burger span {
            display: block;
            content: '';
            position: absolute;
            background-color: $white;
            left: 0;
            width: 100%;
            height: 3px;
            top: 7.5px;
            transition: 0.3s;
            opacity: 0.5s;

        }

        .header__burger span:nth-child(1) {
            transform: translateY(8px);
        }

        .header__burger span:nth-child(3) {
            transform: translateY(-8px);
        }

        .header.open .header__burger span:nth-child(1) {
            transform: translateY(0) rotate(-45deg);
        }

        .header.open .header__burger span:nth-child(2) {
            opacity: 0;
        }

        .header.open .header__burger span:nth-child(3) {
            transform: translateY(0) rotate(45deg);
        }


        .header.open .header__nav {
            transform: translateX(320px);
            transition: 0.3s;
        }

        .header.open .header__burger {
            position: fixed;
            right: 10%;
            transition: 0.5s;
        }
    
}