@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    


}

.header-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: gray;
    .header-wrapper {
        padding: 36px 0;
        display: flex;
        justify-content: space-between;
    }
    
    .header-logo {
        width: 270px;
        display: flex;
    }
    
    .logo-1 {}
    
    .logo-2 {}
    
    .header-nav {}
    
    .nav {}
    
    .nav-menu {
        width: 670px;
        display: flex;
        justify-content: space-between;
    
    }
    
    .menu-link {
        text-align: center;
        width: 134px;
        @include h6;
    }
}

