* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

// новая секция
.header {}

.header-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: gray;
}

.header-wrapper {
    padding: 36px 0;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 270px;
    ;
    display: flex;
}

.logo-1 {}

.logo-2 {}

.header-nav {}

.nav {}

.nav-menu {
    width: 670px;
    display: flex;
    justify-content: space-between;

}

.menu-link {
    text-align: center;
    width: 134px;
    @include h6;
}

// новая секция
.banner {
    background-image: url(../img/banner/img.jpg);
    background-size: cover;
    background-position: center;
    padding: 131px 0 120px 0;
    position: relative;
}
.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(37, 43, 73, 0.8);
    
    
    
}

.banner-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;

}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    text-align: center;
    text-transform: uppercase;
    @include h1;
    color: $white;
}

.banner__text {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $white;
    padding: 31.43px 0 82px 0;
}

.banner__button {
    text-align: center;
    text-transform: uppercase;
    padding: 26;
    color: $white;
    @include h4;
    width: 369px;
    height: 80px;
    background-color: $background-button;
}
// новая секция
.features {
    padding: 116px 0;
}
.features-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.features-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.features__cards {
    width: 370px;
    display: flex;
    flex-direction: column;
}
.card_item {
    margin: 0 15px;
}
.card_item__icon {
    padding: 0 135px;
    padding-bottom: 29px;
    
}
.card_item__title {
    text-transform: uppercase;
    text-align: center;
    padding: 24px;
    @include h4;
    padding-bottom: 20.43px
}
.card_item__text {
    text-align: center;
    @include p;
    color: $gray;
    padding-bottom: 88.57px;
}