* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';
@import url(./header.scss);
@import url(./banner.scss);
@import url(./features);
@import url(./work);
@import url(./our-team.scss);
@import url(./testimonials.scss);
@import url(./download.scss);
@import url(./footer.scss);


