@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.our-team {
    padding: 114px 0;
}



.our-team-wrapper {}

.our-team__cards {
    display: flex;
    justify-content: space-between;
    align-content: center;
    // width: 270px;



}

.our-team__perconal-card {
    margin: 0 7.5px;
    padding: 0 7.5px;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.perconal-card__photo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.perconal-card__name {
    padding-bottom: 5.29px;
    @include h4;
}

.perconal-card__proffesion {
    padding-bottom: 17.86px;
    color: $red;
    @include h5;
    text-transform: uppercase;
}

.perconal-card__text {
    padding-bottom: 37.86px;
    @include p;
    color: $gray;
}

.brands-icons {
    display: flex;
}

.icon {
    width: 39px;
    height: 39px;
    border: 1px solid rgba(198, 203, 205, 1);
    margin-right: 6px;

}

.fa-brands {
    transition: 0.3s;
}

.fa-brands:hover {
    transform: scale(1.4);

    color: $red;
}

.fa-facebook-f {
    color: rgba(198, 203, 205, 1);
    padding: 10px 15.33px 11px 14.33px;
}

.fa-twitter {
    color: rgba(198, 203, 205, 1);
    padding: 11px 10.35px 12.04px 9px;
}

.fa-linkedin {
    color: rgba(198, 203, 205, 1);
    padding: 10px 11px 11px 10px;
}

@media(max-width:320px) {

    .our-team {
        padding: 35px 20px 0 20px;
    }

    .container {
        width: 280px;
    }

    .our-team-wrapper {
    }

    .our-team__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .our-team__perconal-card {
        position: relative;
        z-index: ;
    }

    .perconal-card__photo {
        padding-bottom: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: 1;
    }

    .perconal-card__name {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;


    }

    .perconal-card__proffesion {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .perconal-card__text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        padding-bottom: 55px;
    }

    .brands-icons {
        padding-bottom: 49px;
    }

    .icon {}
}