@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  background-color: rgba(92, 50, 73, 1);
}

.swiper-slide__img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.swiper-slide__subtitle {
  height: 154px;
  @include h2;
  font-family: 'Cardo';
  font-style: italic;
  width: 156px;
  color: $white;
  padding: 47px 104px 129.07px 88px
}

.swiper-slide__text {
  @include h6;
  color: $white;
}